body {
    padding: 0;
    margin: 0;
  }

  .navbar {
    background: #00000082 !important;
  }

  .navbar-nav li {
    padding: 0 10px;
  }

  .navbar-nav li a {
    color: #fff !important;
    font-weight: 600px;
    font-size: 20px;
  }

  .b {
    text-align: center;
  }

  .weblogo {
    width: 65px;
  }

  .moblogo {
    display: none;
    width: 65px;
  }

  @media(max-width:400px) {
    .moblogo {
      display: block;
    }

    .weblogo {
      display: none;
    }

    .navbar {
      background: rgba(17, 44, 58, 0.847) !important;
    }
  }
  .contactline-mob {
    display: none;

  }

  .contactline-web {
    font-size: 5.5rem;
    color: #3cc88f;
    max-width: 650px;
    font-weight: 700;
    float: right;
    text-shadow: 3px 3px #fff;
    margin-top: -450px;
    margin-left: 800px;
    position: absolute;

  }

  @media(max-width:900px) {
    .contactline-mob {
      display: block;
      font-size: 30px;
      color: #3cc88f;
      max-width: 650px;
      font-weight: 700;
      float: right;
      text-shadow: 3px 3px #fff;
      margin-top: -250px;
      margin-left: 100px;
      position: absolute;
    }

    .contactline-web {
      display: none;
    }
  }

  .btn-green {
    display: inline-block;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: #fff;
    padding: 10px 30px;
    border-radius: 2px;
    /* position:relative; */
    border: 1px solid #163805;
    box-shadow: 0 0 0 4em #163805 inset;
    transition: all 350ms ease;
  }

  .btn-green i {
    margin-right: 6px;
  }

  .btn-green:hover {
    box-shadow: 0 0 0 #163805 inset;
    background: #fff;
    color: #163805;
  }

  .btn-transparent {
    border: 1px solid #fff;
  }

  .btn {
    color: #fff;
    background: #bfb299;
    height: 40px;
    width: 100px;
    font-weight: bold;
  }
  @media(max-width:768px) {
    .moblogo1 {
      display: block;
    }

    .weblogo1 {
      display: none;
    }
  }
  .btn{
   width: 150px;
   height: 70px;
   margin-top: 40px;
   background: rgb(66, 66, 120);
  }
  .h41{
   background:#86B049;
   margin-top: 40px;
  }
  .p1{
   background:#86B049;
   margin-top: 40px;
  }
  .mainfooter {
background: #020306f0;
color: #fff;
margin-top: px;
}

.s {
font-family: 'prague';
font-size: 2rem;
line-height: 50px;
letter-spacing: 3px;
color: #fff;
margin-top: 28px;
}

.ex {
color: black;
padding-top: 20px;
text-transform: uppercase;
font-family: 'prague';
letter-spacing: 2px;
font-size: 40px;
}

.A {
border: 2px solid;
background: #01ca8b;
height: 80px;
color: white;
line-height: 40px;
font-weight: bold;
margin-top: 40px;
}
.btn{
   width: 140px;
   height: 60px;
   margin-top: 40px;
   background:cadetblue;
  }
  .g1 .btn{
   width: 100;
   margin-top: 2px;
   height: 40px;
   background:cadetblue;
  }
  .s{
    font-family: 'prague';
    font-size:2rem;
    line-height: 50px;
    letter-spacing:3px;
    color:#fff;
    margin-top: 28px;
    }
    .r1{
       font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
       font-size: 15px;
       height:70px;
       color: white;
       margin-top: 20px;
       margin-bottom: 0rem;
     }
    